{% extends 'base.html' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block head %}
  {% load staticfiles %}
{% endblock %}

{% block contenido %}
  <div class="uk-container uk-container-small">
    <form class="uk-form-horizontal uk-margin-large" role="form" action="" method="post">
      <h1 class="uk-heading-divider">Cambiar contraseña</h1>  
      {% csrf_token %}     
      {% include 'form.html' with form=form %}      
      <input class="uk-button uk-button-default" type="submit" value="Aceptar" />
    </form>
  </div>
{% endblock %}
