{% extends 'base.html' %}

{% block title %}Usuario - {{ usuario.username }}{% endblock %}

{% block head %}
  {% load staticfiles %}
{% endblock %}

{% block contenido %}
      
  {{ usuario.username }}
  {{ usuario.first_name }}
  {{ usuario.last_name }}
  {{ usuario.email }}
  {{ usuario.date_joined }}
  {{ usuario.last_login }}
  
  <form action="{% url 'eliminar-usuario' pk=usuario.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Eliminar"/>
  </form>
  
{% endblock %}
