{% extends 'base.html' %}

{% block title %}Administración de Usuarios{% endblock %}

{% block head %}
  {% load staticfiles %}
{% endblock %}

{% block contenido %}
  
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <a href="{% url 'registro' %}">Agregar usuario</a>
  {% for usuario in usuarios.all %}
    
    {{ usuario.username }}
    {{ usuario.first_name }}
    {{ usuario.last_name }}
    
    <a href="{% url 'usuario' usuario.pk %}">Ver datos</a>
    
    <form action="{% url 'eliminar-usuario' pk=usuario.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="Eliminar"/>
    </form>
    
  {% endfor %}
{% endblock %}
