.logo {
    height : 60px;
    margin : 10px;
    min-width : 40px;
}

.uk-offcanvas-bar {
    background : #135687;
}

.logo-inicio {
    max-height : 200px;
}

.campos-inicio {
    display : block;
}

.contenedor-texto {
    max-height : 700px
}

.contenedor {
    margin-bottom: 50px;
}

.boton-info {
    background: #ffe36b;
    border: 1px solid transparent;
}


.boton-info:hover {
    background: #e3cd73;
}