{% extends "base.html" %}

{% block title %}Bitácora de acceso de Apache{% endblock %}

{% block contenido %}
    {% if hubo_error %} 
    <div class="uk-alert-danger" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p>Error al leer bitácora no está definida.</p>
    </div>
  {% else %}
    <div class="uk-container uk-container-large">
      <h1 class="uk-heading-divider">Bitácora de acceso de Apache</h1>
      Ubicación: {{ ubicacion }}&nbsp;
      <button href="#toggle-animation" class="uk-button uk-button-primary uk-button-small" type="button" uk-toggle="target: #toggle-animation; animation: uk-animation-fade">Filtrar</button>
      <div id="toggle-animation" class="uk-card uk-card-default uk-card-body uk-margin-small" aria-hidden="true" hidden="">
      
        <form action=""  method="get" class="uk-form-horizontal uk-margin-large">
          
          <div class="uk-margin">
            <label class="uk-form-label" for="form-max">Número máximo de líneas</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-max" type="text" name="max">
            </div>
          </div>
          
          <div class="uk-margin">
            <label class="uk-form-label" for="form-q">Búsqueda textual</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-q" type="text" name="q">
            </div>
          </div>
          
          <div class="uk-margin">
            <label class="uk-form-label" for="form-qr">Búsqueda por expresión regular</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-qr" type="text" name="qr">
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="form-f">Formato</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-f" type="text" name="f">
            </div>
          </div>
          <button class="uk-button uk-button-primary" type="button" uk-toggle="target: #toggle-hover; mode: hover">?</button>
          <pre id="toggle-hover" aria-hidden="true" hidden="">Formato aceptado
h - host
l - identd
u - userid
t - fecha
r - petición
s - código de respuesta
b - tamaño
R - referer
U - agente de usuario

Ejemplo:
r t s U h
          </pre>
          <input class="uk-button uk-button-default" type="submit" value="Aceptar"/>
        </form>
        
      </div>

      
      <pre class="uk-scrollable-text contenedor-texto">{% for linea in archivo %}{{ linea }}{% endfor %}</pre>
    </div>
  {% endif %}
{% endblock %}
