{% extends "base.html" %}

{% block title %}Monitoreo de procesos{% endblock %}

{% block contenido %}
  <div class="uk-container uk-container-large">
    <h1 class="uk-heading-divider">Monitoreo de procesos</h1>
    <form action="{% url 'monitoreo-procesos' %}"  method="get" >
      <label>Búsqueda textual</label>
      <input type="text" name="q">
      <label>Búsqueda por expresión regular</label>
      <input type="text" name="qr">
      <input type="submit" value="Filtrar"/>
    </form>
    <pre class="uk-scrollable-text contenedor-texto">{% for linea in salida %}{{ linea }}{% endfor %}</pre>
  </div>
{% endblock %}
