{% extends 'base.html' %}

{% block title %}{{ seccion.titulo }}{% endblock %}

{% block head %}
  {% load staticfiles %}
{% endblock %}

{% block contenido %}
  {% if hubo_error %} 
    <div class="uk-alert-danger" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p>No se pudo leer el archivo de configuración o aun no se definen bitácoras para esta sección.</p>
    </div>
  {% else %}
    
    <div class="uk-container uk-container-large">
      <h1 class="uk-heading">{{ seccion.titulo }}</h1>      
      
      <dl class="uk-description-list">
          <dt>Bitácoras</dt>
          <dd>
            {% for nombre, archivo in archivos %}
              <a href="{% url 'bitacora-generica' seccion=seccion.slug bitacora=nombre %}">{{ archivo }}</a><br/>
            {% endfor %}
          </dd>

        </dl>
        
    </div>
  {% endif %}

{% endblock %}
